<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi Aplicación Flask</title>
    <!-- Incluyendo Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido a la suite de Inteligencia Artificial y Ciencia de Información</h1>
        <p class="lead">Utiliza, Aprende, Crece.</p>
        <hr class="my-4">
        <p>Have fun!.</p>
        <a class="btn btn-primary btn-lg" href="/txt2ppt" role="button">Aplicaciones</a>
        <a class="btn btn-primary btn-lg" href=# role="button">Cursos</a>
        <a class="btn btn-primary btn-lg" href=# role="button">Consultorías</a>
        <a class="btn btn-primary btn-lg" href=# role="button">Blog</a>
        <a class="btn btn-secondary btn-lg" href="/logout" role="button">Cerrar Sesión</a>

    </div>
    
    <!-- Contenido Adicional Aquí -->

</div>

<!-- Opcional: Incluyendo Bootstrap JS y dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
