{% extends 'base.html' %}

{% block content %}
<form id="myForm">
    <label for="tema">Tema:</label>
    <input type="text" id="tema" name="tema" required>
    
    <label for="cantidad">Cantidad de Slides:</label>
    <input type="range" id="cantidad" name="cantidad" min="1" max="5" value="1" oninput="updateValue(this.value)">
    <span id="cantidadValor">1</span>
    
    <button type="button" onclick="submitForm()">Enviar</button>
    <button type="reset" onclick="resetValue()">Limpiar</button>
</form>

<script>
    function submitForm() {
        const form = document.getElementById('myForm');
        const tema = form.querySelector('#tema').value;
        const cantidad = form.querySelector('#cantidad').value;

        const data = {
            tema: tema,
            cantidad: cantidad
        };

        fetch('{{ url_for("txt2ppt") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(html => {
            console.log('¡Éxito! Respuesta recibida:', data);
            // Aquí puedes agregar cualquier lógica adicional para manejar la respuesta, 
            // como mostrar un mensaje al usuario o actualizar el DOM.
        })
        .catch(error => console.error('Error:', error));
    }

    function resetValue() 
    {
    console.log('¡El formulario ha sido limpiado!');
    // Aquí puedes poner cualquier otra lógica que quieras ejecutar cuando el formulario se limpie.
    }

    function updateValue(value) {
        document.getElementById('cantidadValor').textContent = value;
    }

    $(document).ready(function(){
        $('#usarTextoBtn').click(function(){
            var dataslide = {{ dataslide | tojson | safe }};
            $.post('/usar_texto', JSON.stringify(dataslide), function(response){
                if(response.success) {
                    var linkDescarga = '<a href="' + response.ruta_descarga + '">Descargar Presentación</a>';
                    $('#areaDescarga').html(linkDescarga);
                } else {
                    alert('Error al crear la presentación.');
                }
            }, 'json');
        });

        $('#rehacerBtn').click(function(){
            location.reload();
        });
    });


</script>

{% endblock %}
