{% extends 'base.html' %}

{% block content %}
<form id="myForm">
    <label for="tema">Tema:</label>
    <input type="text" id="tema" name="tema" required>
    
    <label for="cantidad">Cantidad de Slides:</label>
    <input type="range" id="cantidad" name="cantidad" min="1" max="5" value="1" oninput="updateValue(this.value)">
    <span id="cantidadValor">1</span>
    
    <button type="button" onclick="submitForm()">Enviar</button>
    <button type="reset" onclick="resetValue()">Limpiar</button>
</form>

<!-- Aquí es donde se añadirá el enlace de descarga cuando esté disponible -->
<div id="areaDescarga"></div>

<script>

function submitForm() {
        const form = document.getElementById('myForm');
        const tema = form.querySelector('#tema').value;
        const cantidad = form.querySelector('#cantidad').value;

        const data = {
            tema: tema,
            cantidad: cantidad
        };

        fetch('{{ url_for("txt2ppt") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            alert(data.mensaje);  // Muestra el mensaje recibido del servidor
        })
        .catch(error => console.error('Error:', error));
    }


    function updateValue(value) {
        document.getElementById('cantidadValor').textContent = value;
    }

</script>

<!-- Si se ha creado un ppt de forma adecuada -->
{% if mensaje %}
    <script>
        alert("{{ mensaje }}");
    </script>
{% endif %}

{% endblock %}
